.form-control-matrix {
  padding: 10px;
  border: 4px solid $color-grey;
  background-color: transparent;
  font-size: 1.5rem;
  transition: 500ms all;
  &:hover,
  &:target,
  &:active {
    border-color: #000000;
  }

  &[type="text"] {
  }
  &[type="submit"] {
  }

  &.is-invalid {
    border-color: #ff0000;
  }
}

.form-calc-title {
  font-size: 28px;
}

@media (max-width: 1440px) {
  .form-calc-title {
    font-size: 24px;
  }
}
@media (max-width: 1280px) {
  .form-calc-title {
    font-size: 20px;
  }
}
@media (max-width: 1080px) {
  .form-calc-title {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .form-calc-title {
    //font-size: 28px;
  }
}
