$color-grey: #bbb7b8;

$color-pink: #f1e2e1;
$color-smoke: #d6d8da;
$color-orange: #ff914d;
$color-indigo: #3356a2;
$color-aquamarine: #b7ecfa;
$color-green: #059442;
$color-yellow: #ffde59;
$color-purple: #943e94;
$color-coral: #cc5c50;
